{% extends 'ubase.html.twig' %}
{% block body %}
    <div class="col-md-10 col-md-offset-1"> 
        <div class="col-md-10 col-md-offset-1"> 
            
        </div>
        <div class="col-md-6 col-md-offset-1"> 
            <div class="list-group">
                <a href="{{ url("continueReg") }}" class="list-group-item active" style="border-bottom-color: white; border-bottom-style: solid; border-bottom-width: 3px; ">Continue Online Application</a>
                <a href="{{ url("editLog") }}" class="list-group-item active"  style="border-bottom-color: white; border-bottom-style: solid; border-bottom-width: 3px; ">Edit Online Application</a>
                <a href="{{ url("addStatus") }}" class="list-group-item active">Check Admission Status</a>
            </div>
        </div>
    </div>
{% endblock %}
